@use "../custom" as *;
@use "../components/mixins" as *;

body{
  min-width:320px;
}

.header {
  height: 60px;
  min-width:320px;
}

.navbar__logo {
  max-height: 60px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.1rem 0.5rem;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;

  &:focus {
    border-bottom: 3px solid #0f6cbf;
  }
}

.menu {
  height: 59px;
  border-bottom: 1px solid #dee2e6;

  li {
    padding: 0 0.7em;
  }

  a {
    color: $black;
    text-transform: capitalize;
    font-size: 15px;
  }
}
