@use "../custom" as *;
@use "../components/mixins" as *;

// .popover-header {
//   margin: 0;
//   padding: 0.2rem;
//   background-color: $white;
// }

// .popover {
//   width: 300px;
// }

#tooltip {
  min-width: 250px;
  max-width: 300px;
  background: white;
  color: black;
  font-weight: 400;
  padding: 4px 8px;
  font-size: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  display: none;
}

#tooltip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -5px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}
